#hero-home {
  padding: 443.7433rem 28.204rem 518.954rem 362.8918rem;
  .content {
    max-width: 1438.4052rem;
    h2 {
      font-size: 90.2529rem;
      margin-bottom: 103.4148rem;
      color: $dgreen;
    }
    p {
      font-size: 37.6054rem;
      margin-bottom: 188.0268rem;
    }
  }
}
