#hero-home {
  padding: 443.7433rem 28.204rem 418.0268rem 362.8918rem;
  position: relative;
  @include for-phone {
    padding: 1640rem 225rem 1500rem 225rem;
  }
  video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #142846;
    opacity: 0.33;
    width: 100%;
    height: 100%;
  }
  .content {
    max-width: 1738.4052rem;
    position: relative;
    z-index: 1;
    color: #fefefe;
    @include for-phone {
      max-width: 90%;
    }
    h1 {
      display: inline-block;
      margin: 0;
      padding-left: 1em;
      font-size: 30.0843rem;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      border-left: 1px solid #a67744;
      @include for-phone {
        font-size: 140rem;
      }
    }
    h2 {
      font-size: 103.4148rem;
      margin-top: 103.4148rem;
      margin-bottom: 291.4416rem;
      @include for-phone {
        font-size: 300rem;
      }
      strong,
      b {
        font-weight: $semiBold;
        * {
          font-weight: inherit;
        }
      }
    }
    .btn {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        width: 1px;
        height: 416rem;
        background: rgba(255, 255, 255, 0.25);
        @include for-phone {
          height: 1498rem;
        }
      }
    }
  }
}
#archive-hero {
  padding: 564.0805rem 376.0537rem;
  background: var(--background);
  @include bg-props(cover, center, no-repeat);
}
