#masthead {
  position: fixed;
  z-index: 1024;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: content-box;
  border-top: 7.5211rem solid #e8842d;
  .container {
    height: 300.8429rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding-left: 235.0335rem;
    padding-right: 235.0335rem;
    & > * {
      position: relative;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: -1px;
      width: 100%;
      height: 100%;
      background: #1b355d;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .logo-wrapper {
      display: block;
      height: 112.8161rem;
      transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      img {
        display: block;
        width: auto;
        height: 100%;
      }
    }
    .main-navigation {
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 26.3238rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        li {
          a {
            padding: 0 2em;
            display: inline-flex;
            align-items: center;
            height: 135.3793rem;
            color: #fff;
            transition: color 0.3s;
            font-weight: $semiBold;
          }
        }
      }
    }
  }
  &.sticky {
    .container {
      height: 135.3793rem;
      &::before {
        @include transform(scaleY(1));
      }
      .logo-wrapper {
        height: 90.2529rem;
      }
    }
  }
}
